html {
    max-width: 2000px;
    text-align: center;
    background: #F0F0F0;
}

.background {
    background: linear-gradient(to right bottom, #F0F0F0 50%, #FFE141 50%);
    min-height: 700px;
}

h1 {
    font-family: "anodyne", sans-serif;
    color: #484848;
    font-size: 3rem;
    margin-top: 0px;
}

h2 {
    font-family: "anodyne", sans-serif;
    letter-spacing: 1.5px;
    font-size: 2rem;
    color: white;
}

h3 {
    font-family: "anodyne", sans-serif;
}

p {
    font-family: "abolition-soft", sans-serif;
    color: white;
    letter-spacing: 1.75px;
    line-height: 27px;
    font-size: 1.25rem;
}

.instructions {
    background-color: #484848;
    padding: 10px;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
}

.startButton {
    margin-top: 40px;
}

button {
    background-color: #484848;
    border: none;
    padding: 10px 30px;
}

a {
    color: #FFE141;
    font-size: 2rem;
    text-decoration: none;
    font-family: "anodyne", sans-serif;
}

.gameHeader {
    background-color: #484848;
}

.gameHeader h1 {
    color: #FFE141;
    margin-bottom: 0px;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding: 5px;
    align-content: normal;

}

.headerDisplays {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    border: 3px dashed #FFE141;
    color: #FFE141;
    width: 100px;
    padding: 0px 10px;
    margin: 0px 20px;
}

.mazeGame {
    display: inline;
    align-content: center;
    flex-direction: column;
    margin: 100px auto;
    width: 300px;
    height: 300px;
}

.forklift {
    padding-left: 30px;
}

.congrats h1 {
    color: #FFE141;
}

.congrats h2 {
    color: #FFE141;
}

.congrats {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    width: 97%;
    margin-top: 200px;
    padding: 20px 10px;
    font-family: "anodyne", sans-serif;
    background-color: #484848;
}

.musicToggle {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#mapAndControls {
    margin-top: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

#controls {
    text-align: center;
}

#controls button {
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: #FFE141;
    border: 3px dashed #484848;
    cursor: pointer;
    position: relative;
}
#controls button:hover{
    background-color: #ccc;
}

#controls button::before {
    content: '';
    width: 0px;
    position: absolute;
}

button#left::before {
    border-top: 10px solid transparent;
    border-right: 15px solid #484848;
    border-bottom: 10px solid transparent;
    left: 9px;
    bottom: 7px;
}

button#right::before {
    border-top: 10px solid transparent;
    border-left: 15px solid #484848;
    border-bottom: 10px solid transparent;
    left: 10px;
    bottom: 8px;
}

button#up::before {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 15px solid #484848;
    left: 7px;
    top: 9px;
}

button#down::before {
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 15px solid #484848;
    left: 7px;
    top: 11px;
}
.mazeLevel {
    position: relative;
}

div.layer,
div.layer div {
    position: absolute;
}

.default .floor {
    background-color: #F0F0F0;
}

.default .wall {
    background-color: #484848;
}


.goal {
    background-color: red;
    border: 1px solid darkred;
}

.player {
    background-image: url('../assets/forklift-truck-svgrepo-com.svg');
    transition: left 0.2s linear, top 0.2s linear;
    background-size: cover;
}

#success-msg {
    opacity: 0;
    transition: opacity 0.2s ease;
    position: absolute;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 5);
    color: white;
    width: calc(100% - 8px);
    margin-bottom: 20px;
}

body.success {
    transition: 0.2s ease;
}

body.success #success-msg {
    opacity: 1;
    transition: opactity 0.2 ease;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FFE141;
}

input:focus+.slider {
    box-shadow: 0 0 1px #FFE141;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Collision */
@keyframes wobble {
    0% {
        transform: scale(0.85) translate(1px, 1px);
    }

    10% {
        transform: scale(0.85) translate(-1px, -2px);
    }

    20% {
        transform: scale(0.85) translate(-3px, 0px);
    }

    30% {
        transform: scale(0.85) translate(3px, 2px);
    }

    40% {
        transform: scale(0.85) translate(1px, -1px);
    }

    50% {
        transform: scale(0.85) translate(-1px, 2px);
    }

    60% {
        transform: scale(0.85) translate(-3px, 1px);
    }

    70% {
        transform: scale(0.85) translate(3px, 1px);
    }

    80% {
        transform: scale(0.85) translate(-1px, -1px);
    }

    90% {
        transform: scale(0.85) translate(1px, 2px);
    }

    100% {
        transform: scale(0.85) translate(1px, -2px);
        ;
    }
}

.player.collide {
    animation: wobble 0.2s;
    animation-iteration-count: infinite;
}

@media only screen and (min-width: 768px) {
    .homeHeader {
        margin-top: 60px;
    }

    h1 {
        font-size: 3.25rem;
        margin: 0px;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        line-height: 32px;
        font-size: 1.5rem;
    }

    .instructions {
        width: 668px;
        padding: 5px 30px;
    }

    .headerContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .headerDisplays {
        width: 140px;
        margin: 10px;
    }

    .mazeGame {
        height: 450px;
        width: 450px;
    }

    .congrats {
        width: 80%;
    }

}

@media only screen and (min-width: 992px) {
    .instructions {
        width: 900px;
        padding: 8px 40px;
    }

    h1 {
        font-size: 3.5rem;
    }

    p {
        line-height: 38px;
        font-size: 1.75rem;
    }

    .mazeGame {
        height: 600px;
        width: 600px;
    }

    .congrats {
        width: 50%;
        padding: 40px;
    }
}